<div style="width : 60%; margin : auto;">
  <formulario [data]="datos" (enviar)="mostrar($event)"></formulario>
  <boton [text]="'Click me!!!'" (action)="clickBoton()"></boton>
  <boton [text]="'Click me!!!'" (action)="clickBoton()"></boton>
  <boton [text]="'Click me!!!'" (action)="clickBoton()"></boton>
  <boton [text]="'Click me!!!'" (action)="clickBoton()"></boton>
  <boton [text]="'Click me!!!'" (action)="clickBoton()"></boton>
  <boton [text]="'Click me!!!'" (action)="clickBoton()"></boton>
  <boton [text]="'Click me!!!'" (action)="clickBoton()"></boton>
  <boton [text]="'Click me!!!'" (action)="clickBoton()"></boton>
  <boton [text]="'Click me!!!'" (action)="clickBoton()"></boton>
  <boton [text]="'Click me!!!'" (action)="clickBoton()"></boton>
</div>

