<!-- <usuario-form (aceptar)="mostrar($event)"></usuario-form> -->
<!-- <topic-form></topic-form> -->
<!-- <topic-item></topic-item> -->
<!-- <topic-list [topics]="topics"></topic-list> -->

<main-page (salir)="salir()" [loggedIn]="usuarioService.loggedIn">
  <a [routerLink]="['tabla']" *ngIf="usuarioService.loggedIn">Ir a Tabla</a>
  <div style="width : 30%; margin-left : 20px;">
    <dropdown [options]="opciones" [(ngModel)]="item"></dropdown>
    <span>{{ item }}</span>
  </div>
  <router-outlet></router-outlet>
</main-page>
